In [ ]:
import pandas as pd

?5) Open the table in the address: http://bit.ly/chiporders and save it in variable orders



1.   Convert the data in column 'item_name' into upper case
**RESTORE THE ORDERS DATAFRAME**
2.   Display a boolean dataseries if there is 'Chicken' in the column item_name
3.   Display details of orders with 'Chicken' in the item_name
4.   Remove the square brackets([ ]) from the column choice_description.
5.   Find the mean of the item_price column
6.   Display a boolean dataseries of zeros and ones if there is 'Chicken' in the column item_name


**STRING HANDLING DOCUMENTATION: https://www.youtube.com/redirect?event=video_description&redir_token=QUFFLUhqbUsxN18yVW9RdmdVRDJMX0xyX29mVzBtTHJSUXxBQ3Jtc0trWFg4YTVkYjF0dVZfSnVxNHJ0dEREN2NlM3N5RGkwYjZ1a1NuT0c3bUtYbnRRcm1UNUNyN3JVNlNNcGY2X01vNHQxdlRSNUpQUTdleUgxYjh4bTAwV1kwLVFkTWFJSGFVemZRMEk4VlZyY0xlaGljZw&q=http%3A%2F%2Fpandas.pydata.org%2Fpandas-docs%2Fstable%2Fapi.html%23string-handling**

In [ ]:
orders = pd.read_table('http://bit.ly/chiporders')

In [ ]:
orders.head()

   order_id  ...  item_price
0         1  ...      $2.39
1         1  ...      $3.39
2         1  ...      $3.39
3         1  ...      $2.39
4         2  ...     $16.98

[5 rows x 5 columns]

1.   Convert the data in column 'item_name' into upper case
**RESTORE THE ORDERS DATAFRAME**
2.   Display a boolean dataseries if there is 'Chicken' in the column item_name
3.   Display details of orders with 'Chicken' in the item_name
4.   Remove the square brackets([ ]) from the column choice_description.
5.   Find the mean of the item_price column
6.   Display a boolean dataseries of zeros and ones if there is 'Chicken' in the column item_name

In [ ]:
orders.item_name = orders.item_name.str.upper()

In [ ]:
orders.head()

   order_id  ...  item_price
0         1  ...      $2.39
1         1  ...      $3.39
2         1  ...      $3.39
3         1  ...      $2.39
4         2  ...     $16.98

[5 rows x 5 columns]

**RESTORING THE DATAFRAME**

In [ ]:
orders = pd.read_table('http://bit.ly/chiporders')

In [ ]:
orders.head()

   order_id  ...  item_price
0         1  ...      $2.39
1         1  ...      $3.39
2         1  ...      $3.39
3         1  ...      $2.39
4         2  ...     $16.98

[5 rows x 5 columns]

2.   Display a boolean dataseries if there is 'Chicken' in the column item_name

In [ ]:
orders.item_name.str.contains('Chicken')###IMPORTANT.

0       False
1       False
2       False
3       False
4        True
        ...
4617    False
4618    False
4619     True
4620     True
4621     True
Name: item_name, Length: 4622, dtype: bool

3.   Display details of orders with 'Chicken' in the item_name

In [ ]:
orders[orders.item_name.str.contains('Chicken')]

      order_id  ...  item_price
4            2  ...     $16.98
5            3  ...     $10.98
11           6  ...      $8.75
12           6  ...      $8.75
13           7  ...     $11.25
...        ...  ...         ...
4604      1828  ...      $8.75
4615      1832  ...      $8.75
4619      1834  ...     $11.25
4620      1834  ...      $8.75
4621      1834  ...      $8.75

[1560 rows x 5 columns]

4.   Remove the square brackets([ ]) from the column choice_description.

In [ ]:
orders.choice_description = orders.choice_description.str.replace('[','').str.replace(']','')

In [ ]:
orders.head()

   order_id  ...  item_price
0         1  ...      $2.39
1         1  ...      $3.39
2         1  ...      $3.39
3         1  ...      $2.39
4         2  ...     $16.98

[5 rows x 5 columns]

5.   Find the mean of the item_price column

In [ ]:
orders.item_price = orders.item_price.str.replace('$','')

In [ ]:
orders.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [ ]:
orders.item_price = orders.item_price.astype(float)

In [ ]:
orders.dtypes

order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price            float64
dtype: object

In [ ]:
orders.item_price.mean()

7.464335785374397

6.   Display a boolean dataseries of zeros and ones if there is 'Chicken' in the column item_name

In [ ]:
orders.item_name.str.contains('Chicken').astype(int)

0       0
1       0
2       0
3       0
4       1
       ..
4617    0
4618    0
4619    1
4620    1
4621    1
Name: item_name, Length: 4622, dtype: int64